<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styleDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>

    <div class="card-wrapper" id="app">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="<%= '../images/productDetail/'+ product.images[0].name %>" alt="shoe image">
                        <img src="<%= '../images/productDetail/'+ product.images[1].name %>" alt="shoe image">
                        <img src="<%= '../images/productDetail/'+ product.images[2].name %>" alt="shoe image">
                        <img src="<%= '../images/productDetail/'+ product.images[3].name %>" alt="shoe image">
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="<%= '../images/productDetail/'+ product.images[0].name %>" alt="shoe image">
                        </a>
                    </div>

                    <div class="img-item">
                        <a href="#" data-id="2">
                            <img src="<%= '../images/productDetail/'+ product.images[1].name %>" alt="shoe image">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="3">
                            <img src="<%= '../images/productDetail/'+ product.images[2].name %>" alt="shoe image">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="4">
                            <img src="<%= '../images/productDetail/'+ product.images[3].name %>" alt="shoe image">
                        </a>
                    </div>
                </div>
            </div>
            <!-- card right -->
            <div class="product-content">
                <div class="title">
                    <!--Tên-->
                    <h1 class="product-title">
                        <%= product.product_name %>
                    </h1>
                    <!-- yêu thích -->
                    <input type="hidden" id="product_id" value="<%=product.id%>">
                    <div id="loveproduct">
                        <% if(product.productLiked === undefined || product.productLiked.length == 0) { %>
                            <img src="../images/like/icons-like.svg" alt="1" style="width:40px;height:40px;">
                            <% } else { %>
                                <img src="../images/like/icons-liked.svg" alt="2" style="width:40px;height:40px;">
                                <% } %>
                    </div>
                </div>
                <div class="infos">
                    <!--Đánh giá-->
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <!--Giá sp-->
                    <div class="price">
                        <h3>
                            <%= product.product_price %><span>₫</span>
                        </h3>
                    </div>
                    <div id="more-infos">
                        <h5 class="choose">Giới thiệu</h5>
                        <h5 class="choose">Bảo hành</h5>
                    </div>

                    <!--Giới thiệu sp-->
                    <div id="info-content">
                        <p class="paragraph" style="display: block;">
                            <%= product.product_description %>
                        </p>
                        <p class="paragraph" style="display: none;">
                            - Trong 30 ngày đầu nhập lại máy, trừ phí 20% trên giá hiện tại(hoặc giá mua nếu giá mua thấp hơn giá hiện tại).
                            </br>
                            - Ra khỏi cửa hàng thì đéo được đổi nha</p>
                    </div>

                    <!--Số lượng-->
                    <p><b>Sản phẩm đã hết hàng</b></p>
                    <div class="quantity">
                        <h4><b>Số lượng</b></h4>
                        <!-- <input type="hidden" id="maxQuantity" value=""> -->
                        <input type="number" style="outline: none;" name="items" id="counter" min="1" value="1">
                    </div>

                    <!--Mua hàng-->

                    <div class="buttons">
                        <button id="add-to-cart"><i class="fas fa-shopping-cart"></i>THÊM VÀO GIỎ
                            HÀNG</button>
                        <form action="" method="post" onsubmit="getQuantity()">
                            <input type="hidden" name="product_id" value="<%= product.id %>">
                            <input type="hidden" name="price" value="<%= product.product_price %>">
                            <input type="hidden" id="quantity" name="quantity">
                            <button id="btn" type="submit">MUA NGAY</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ĐÁNH GIÁ CỦA KHÁCH HÀNG-->
    <div class="container">
        <h2>Khách hàng nhận xét</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="rating-block">
                    <h4>Average user rating</h4>
                    <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-sm-5">
                <h4>Rating breakdown</h4>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <hr />
                <div class="review-block">
                    <% if(count > 0) { %>
                        <% for(let cmt of product_review) { %>
                            <div class="row">
                                <div class="col-sm-3">
                                    <% if(cmt.user.avatar == null){ %>
                                        <img src="/images/avatars/profile.jpg" class="img-rounded">
                                        <% } else { %>
                                            <img src="<%= '/images/avatars/' + cmt.user.avatar%>" class="img-rounded">
                                            <% } %>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-name">
                                        <a href="#">
                                            <%= cmt.user.name %>
                                        </a>
                                    </div>
                                    <div class="review-block-rate">
                                        <% for(let i=0; i < cmt.rate; i++) { %>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <% } %>
                                    </div>
                                    <div class="review-block-description">
                                        <p>
                                            <%= cmt.comment %>
                                        </p>
                                    </div>
                                    <div class="review-block-date">
                                        <%=  moment(cmt.createdAt).format( 'DD/MM/YYYY') %>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <% }} %>
                </div>
            </div>



            <div class="row">
                <!-- hiển thị phân trang nếu có trang -->
                <% if(pages > 0) { %>
                    <nav class="mx-auto">
                        <ul class="pagination" style="margin-top: 2rem;">

                            <!-- FIRST ITEM -->
                            <% if(current == 1) { %>
                                <!-- // Nếu thông số http://localhost:3333/news/1/ là 1 thì First sẽ bị disabled -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="/">First</a>
                                </li>
                                <% } else { %>
                                    <!-- // Nếu thông số http://localhost:3333/news/2/ từ 2 trở lên thì First sẽ bỏ disabled -->
                                    <li class="page-item">
                                        <a class="page-link" href="/">First</a>
                                    </li>
                                    <% } %>

                                        <!-- ITEMS  -->
                                        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                                            <!-- // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 > -->
                                            <!-- // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
                                            <% if(i !== 1) { %>
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                                <% } %>
                                                    <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                                        <!-- // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang  -->
                                                        <!-- // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
                                                        <% if(i == current) { %>
                                                            <li class="page-item active">
                                                                <a class="page-link" href="/detail/<%=product.product_slug%>?p=<%= i %>/">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } else { %>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="/detail/<%=product.product_slug%>?p=<%= i %>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                                    <% if (i == Number(current) + 2 && i < pages) { %>
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#">...</a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% } %>

                                                                                <!-- LAST ITEM -->
                                                                                <% if(current == pages) { %>
                                                                                    <!-- // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->
                                                                                    <li class="page-item disabled">
                                                                                        <a class="page-link" href="#">
                Last
              </a>
                                                                                    </li>
                                                                                    <% } else { %>
                                                                                        <!-- // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6 -->
                                                                                        <li class="page-item">
                                                                                            <a class="page-link" href="/detail/<%=product.product_slug%>?p=<%= pages %>">
                Last
              </a>
                                                                                        </li>
                                                                                        <% } %>
                        </ul>
                    </nav>
                    <% } %>
            </div>
        </div>

    </div>



    <div id="like_button_container"></div>

    <!-- /container -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Script -->
    <script src="/js/product&profile.js"></script>

    <!-- Process back-end -->
    <script src="/js/detailToCart.js"></script>
    <script src="/js/testAj.js"></script>


    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="/reactjs/testreact.js"></script>
</body>

</html>